/*-------------------------------------------------------------
1: GENERELT
2: MENU
3: TEKSTDESIGN
4: FORSIDE
5: PORTFOLIO
6: FOOTER
7: MEDIAQUIERES
8: KEYFRAMES
-------------------------------------------------------------*/


/*-------------------------------------------------------------
1: GENERELT
-------------------------------------------------------------*/

* {
    scroll-behavior: smooth;

}

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1ee;

}

.section {
    max-width: 1200px;
    height: auto;
    padding: 30px 0;

}

img {
    width: 100%
}

@font-face {
    font-family: montserrat, sans-serif;
    font-weight: normal;
    font-style: normal;
}


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}

.portfoliowrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;


}

button {
    border: none;
    background-color: #f1f1ee;
    padding: 5vw;

}


button a {
    width: 10vw;
    height: 10vw;
    color: #4a4a4a;

}

.col_ui img {
    width: 20vw;
    height: 20vw;
}

.frontpagesplash img {
    height: 20vw;
    width: 20vw;
    padding-left: 2vw;
    opacity: 100%;
}



/*-------------------------------------------------------------
2: MENU
-------------------------------------------------------------*/

nav {
    background-color: #f1f1ee;
    text-align: center;
}

nav a {
    font-family: montserrat, sans-serif;
    padding: 10px;
    margin: 20px;
    color: #4a4a4a;
    /*
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
*/

}

a {
    font-family: montserrat, sans-serif;
    color: #4a4a4a;
    text-decoration: none;


}

nav a {
    font-family: montserrat, sans-serif;
    color: #4a4a4a;
    text-decoration: none;

}

nav img {
    height: 20vw;
    width: 20vw;
    justify-content: center;
}


.centerheader {
    line-height: 23px;
    font-weight: 500;
    width: 100%;
    padding: 18px 0 0 0;
    height: 150px;
    top: 100px;
    margin-bottom: 30px;
}

.navcontainer {
    margin: 0;
    padding: 10px 0;
    position: relative;
    width: 1140px;
    display: flex;
}

a:hover {
    color: #ffb302;
}

/*-------------------------------------------------------------
3: TEKSTDESIGN
-------------------------------------------------------------*/


h1 {
    font-family: montserrat, sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
    text-align: left;
    font-weight: 700;
    color: #4a4a4a;

}

.frontpagesplash h1 {
    font-family: montserrat, sans-serif;
    letter-spacing: 2px;
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    color: #4a4a4a;
}

h2 {
    font-family: montserrat, sans-serif;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
    color: #4a4a4a;
}

p {
    font-family: montserrat, sans-serif;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-size: 12px;


}



ul,
li {
    font-family: montserrat, sans-serif;
    color: #4a4a4a;
    list-style: none;
}

.txtlineleft {
    text-align: left;
}

.txtfix {
    padding-left: 760px;
}

.frontpagesplash p {
    margin-bottom: 10vw;

}

/*-------------------------------------------------------------
4: FORSIDE
-------------------------------------------------------------*/

.forside {
    border: solid white 5px;
    margin: 3vw;
    padding: 10vw;
    width: 100%;


}

/*-------------------------------------------------------------
5: PORTFOLIO
-------------------------------------------------------------*/

.col {

    display: flex;
    width: 50vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/Artboard-11.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.col_bauhaus {

    display: flex;
    width: 20vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/bauhaustest.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.col_data {

    display: flex;
    width: 20vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/dataicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.col_prototype {

    display: flex;
    width: 20vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/prototypeicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.col_sprint {

    display: flex;
    width: 20vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/sprinticon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.col_animation {

    display: flex;
    width: 20vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/animationicon2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.col_privatsnak {

    display: flex;
    width: 20vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/privatsnakicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.col_pilotvideo {

    display: flex;
    width: 20vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/pilotvideoicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.col_redesign {

    display: flex;
    width: 20vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;
    background-image: url(img/redesignicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}



.col_txt {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 100px;
    padding: 5vw;
    width: 360px;

}



.portfoliowrapper a {
    display: block;
    width: 350px;
    line-height: 500px;
    text-align: center;
    text-decoration: none;
    color: transparent;
    font-size: 5em;

}

.frontpagesplash {
    background-image: url(img/frontpagesplash.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    width: 60vw;
    background-position: center center;
    position: relative;
    opacity: 70%;

}

.responsivesplash {
    background-image: url(img/bauhaustest.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}

.datasplash {
    background-image: url(img/dataicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}

.prototypesplash {
    background-image: url(img/prototypeicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}

.sprintsplash {
    background-image: url(img/sprinticon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}

.animationsplash {
    background-image: url(img/animationicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}

.privatsnaksplash {
    background-image: url(img/privatsnakicon2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}

.pilotvideosplash {
    background-image: url(img/pilotvideoicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}

.redesignsplash {
    background-image: url(img/redesignicon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}



.colnohover {
    display: flex;
    width: 50vw;
    height: 20vh;
    position: relative;
    margin: 3vw;
    flex-basis: 350px;
    flex-grow: 1;

}

.col_ui {
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 1;
    flex-grow: 700px;
    justify-content: center;
    text-align: center;

}

.col:hover {
    background-color: #ffb302;
    border-radius: 10px;

}

.frontpagesplash img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;

}

.col_bauhaus:hover {
    background-color: #ffb302;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;


}

.col_data:hover {
    background-color: #ffb302;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}

.col_prototype:hover {
    background-color: #ffb302;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}

.col_sprint:hover {
    background-color: #ffb302;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}

.col_animation:hover {
    background-color: #ffb302;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}

.col_privatsnak:hover {
    background-color: #ffb302;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}

.col_pilotvideo:hover {
    background-color: #ffb302;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}

.col_redesign:hover {
    background-color: #ffb302;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}

h1::selection {
    background-color: #ffb302;
}

h2::selection {
    background-color: #ffb302;
}

p::selection {
    background-color: #ffb302;
}




.col_ui img:hover {
    /*    background-image: url(img/documenthover.svg);*/
    background-color: #ffb302;
    background-repeat: no-repeat;
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 10px;
}


/*-------------------------------------------------------------
6: FOOTER
-------------------------------------------------------------*/

footer {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10vw;


}

footer p {
    padding-top: 8px;
    color: #a8a8a6;
    justify-content: center;


}

footer img {
    height: 30px;
    width: 30px;
    margin: 2px;
    justify-content: center;
    float: left;
    display: inline;

}

footer img:hover {
    background-color: #ffb302;
    border-radius: 30px;
    transform: scale(1.1);
    transition: .5s;


}

.footer_ui {
    flex-basis: 600px;
    justify-content: space-between;
}

.footer_logo {
    background-image: url(img/oalsfootericon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 10vw;
    padding-left: 25px;
    padding-top: 25px;
    opacity: 50%;
    position: relative;
    display: inline;
}



/*-------------------------------------------------------------
7: MEDIAQUIERES
-------------------------------------------------------------*/



@media only screen and (min-width: 450px) {

    .col {
        height: 100vh;

    }







}

@media only screen and (min-width: 500px) {
    nav img {
        height: 17.5vw;
        width: 17.5vw;
    }

    .col {
        height: 20vh;
    }

    .col_bauhaus {
        height: 100vh;
    }

    .col_data {
        height: 100vh;
    }

    .col_prototype {
        height: 100vh;
    }

    .col_sprint {
        height: 100vh;
    }

    .col_animation {
        height: 100vh;
    }

    .col_privatsnak {
        height: 100vh;
    }

    .col_pilotvideo {
        height: 100vh;
    }

    .col_redesign {
        height: 100vh;
    }

    .responsivesplash {
        height: 100vh;

    }

    .datasplash {
        height: 100vh;
    }

    .prototypesplash {
        height: 100vh;
    }

    .sprintsplash {
        height: 100vh;
    }

    .animationsplash {
        height: 100vh;
    }

    .privatsnaksplash {
        height: 100vh;
    }

    .pilotvideosplash {
        height: 100vh;
    }

    .redesignsplash {
        height: 100vh;
    }
}

@media only screen and (min-width: 800px) {
    nav img {
        height: 10vw;
        width: 10vw;
    }

    .portfoliowrapper {
        margin-top: 10vw;
    }

    .frontpagesplash img {
        height: 7.5vw;
        width: 7.5vw;
        padding-left: 2vw;
    }

    .col {
        height: 20vh;

    }

    .col_bauhaus {
        height: 20vh;


    }

    .col_data {
        height: 20vh;

    }

    .col_prototype {
        height: 20vh;

    }

    .col_sprint {
        height: 20vh;
    }

    .col_animation {
        height: 20vh;
    }

    .col_privatsnak {
        height: 20vh;
    }

    .col_pilotvideo {
        height: 20vh;
    }

    .col_redesign {
        height: 20vh;
    }


    .col_ui img {
        height: 7.5vw;
        width: 7.5vw;
    }

    .responsivesplash {
        height: 40vh;
        margin-top: 10vw;

    }

    .datasplash {
        height: 40vh;
        margin-top: 10vw;
    }

    .prototypesplash {
        height: 40vh;
        margin-top: 10vw;
    }

    .sprintsplash {
        height: 40vh;
        margin-top: 10vw;
    }

    .animationsplash {
        height: 40vh;
        margin-top: 10vw;
    }

    .privatsnaksplash {
        height: 40vh;
        margin-top: 10vw;
    }

    .pilotvideosplash {
        height: 40vh;
        margin-top: 10vw;
    }

    .redesignsplash {
        height: 40vh;
        margin-top: 10vw;
    }

    footer p {
        margin-left: 30vw;
    }



}


/*-------------------------------------------------------------
8: KEYFRAMES
-------------------------------------------------------------*/

.pulse_kf {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}
