/*-------------------------------------------------------------
1: GENERELT
2: MENU
3: FORSIDE
-------------------------------------------------------------*/





/*-------------------------------------------------------------
1: GENERELT
-------------------------------------------------------------*/

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*-------------------------------------------------------------
2: MENU
-------------------------------------------------------------*/

a {
    border: 2px dotted black;
    padding: 10px;
    margin: 20px;
    align-items: center;
    align-content: center;
    text-align: center;

}


/*-------------------------------------------------------------
3: FORSIDE
-------------------------------------------------------------*/

.forside {
    border: dotted 2px black;
    padding: 30vw;
    z-index: -1;
    background-color: #8ecd89
}

h1,
h4 {
    text-align: center;


}
